.nevbar-image{
    width: 200px;
    margin-right: 300px;
}
.half-width{
    width: 45%;
    float: left;
}

}
.col-md-4{
    width: 30px;
    margin-right: 30px;
}
.card-img-top{
    width: 250px;
    height: 300px;
}

